<Files composer.json>
    order allow,deny
    deny from all
</Files>
<Files composer.lock>
    order allow,deny
    deny from all
</Files>
<Files readme.text>
    order allow,deny
    deny from all
</Files>
<Files raiser>
    order allow,deny
    deny from all
</Files>